

.uploadButton, .changeButton, .modalButton {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .uploadButton {
    background-color: #007BFF;
  }
  
  .uploadButton:hover {
    background-color: #0056b3;
  }
  
  .changeButton {
    background-color: #3ecd16;
  }
  
  .changeButton:hover {
    background-color: #259407;
  }
  
  .modalButton {
    background-color: #007BFF;
  }
  
  .modalButton:hover {
    background-color: #0056b3;
  }
  
  .questionArea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    box-sizing: border-box;
    font-size: 18px;
  }
  
  .optionsContainer {
    margin-top: 20px;
    padding-left: 0;
  }
  
  .optionItem {
    list-style: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #dee2e6;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .optionItem:hover {
    background-color: #e9ecef;
  }
  
  .correctAnswer {
    margin-top: 20px;
    font-weight: bold;
    color: #28a745;
  }
  
  .fileInput {
    display: block;  /* Makes it a block element which respects margin: auto */
    margin: 0 auto;  /* Sets top and bottom margins to 0 and left and right margins to auto */
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    width: 70%; /* Adjust the width as needed */
  }
  
  
  .correctAnswer {
    color: #ffffff;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .correctAnswer.hidden {
    display: none;
  }
  
  .correctAnswer.visible {
    display: block;
  }
  
  .questionUploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 10px;  
  }
  
  .backbutton {
    display: block;
    width: 80%;
    padding: 8px 16px;
    font-size: 14px;
    color: #333;
    background-color: #cccccc;
    border: 1px solid #bbb;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    transition: background-color 0.3s;
  }
  
  
  .fullContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 280px; /* Moves the container to the left by 20px */
    gap: 120px;
    min-height: 100vh;
  }
  
  .sideBar {
    width: 200px;
    max-width: 200px;
    height: 500px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .specificQuizContainer {
    width: 600px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .inputContainer{
    display: flex;
    flex-direction: row;
  }
 
  
  