.SaveQuestionContainer{
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-bottom: 15px;
}


.optionsContainer {
    margin-top: 20px;
    padding-left: 0;
  }
  
.optionItem {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.optionItem:hover {
  background-color: #e9ecef;
}
  
.correctAnswer {
  color: #28527a;
  font-size: 16px;
  margin-top: 20px;
}
  
.correctAnswer.hidden {
display: none;
}

.correctAnswer.visible {
display: block;
}

.questionArea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  font-size: 18px;
}


.fileInput {
  display: block;  /* Makes it a block element which respects margin: auto */
  margin: 0 auto;  /* Sets top and bottom margins to 0 and left and right margins to auto */
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 70%; /* Adjust the width as needed */
}

  
.correctAnswerText {
    color: #008f2d;
  }
  
  
.correctAnswerText.hidden {
  display: none;
}

.correctAnswerText.visible {
  display: block;
}


.saveButtonStaff{
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #007BFF;
}

.saveButtonStaff:hover {
  background-color: #0056b3;
  color: #fff;
  border-color: #0056b3;
  transition: background-color 0.8s, color 0.8s, border-color 0.8s;
}

.saveButtonStaff:active {
  background-color: #ccc;
  color: #333;
  border-color: #aaa;
  transition: background-color 0.8s, color 0.8s, border-color 0.8s;
}