.SaveQuestionContainer{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    gap: 130px;
}

.saveButton {
    display: block;
    width: 14%;
    font-size: 16px;
    color: #007BFF; 
    background-color: #fff;
    border: 2px solid #007BFF;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s;
  }
  
.saveButton:hover {
    background-color: #007BFF; 
    color: #fff;
    border-color: #0056b3;
    transition: background-color 0.8s, color 0.8s, border-color 0.8s;
}

.saveButton:active {
    background-color: #ccc;
    color: #333;
    border-color: #aaa;
    transition: background-color 0.8s, color 0.8s, border-color 0.8s;
}


.optionsContainer {
    margin-top: 20px;
    padding-left: 0;
  }
  
.optionItem {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.optionItem:hover {
  background-color: #e9ecef;
}
  
.correctAnswer {
  color: #28527a;
  font-size: 16px;
  margin-top: 20px;
}
  
.correctAnswer.hidden {
display: none;
}

.correctAnswer.visible {
display: block;
}

.questionArea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  font-size: 18px;
}


.fileInput {
  display: block;  /* Makes it a block element which respects margin: auto */
  margin: 0 auto;  /* Sets top and bottom margins to 0 and left and right margins to auto */
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 70%; /* Adjust the width as needed */
}

  
.correctAnswerText {
    color: #008f2d;
  }
  
  
.correctAnswerText.hidden {
  display: none;
}

.correctAnswerText.visible {
  display: block;
}


  