

.uploadButton, .changeButton, .modalButton {
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  .uploadButton {
    background-color: #007BFF;
  }
  
  .uploadButton:hover {
    background-color: #0056b3;
  }
  
  .changeButton {
    background-color: #3ecd16;
  }
  
  .changeButton:hover {
    background-color: #259407;
  }
  
  .modalButton {
    background-color: #007BFF;
  }
  
  .modalButton:hover {
    background-color: #0056b3;
  }
  
  .questionUploadContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    gap: 10px;  
  }
  
  .backbutton {
    display: block;
    width: 80%;
    padding: 8px 16px;
    font-size: 14px;
    color: #333;
    background-color: #cccccc;
    border: 1px solid #bbb;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    transition: background-color 0.3s;
  }
  
  .backbutton:hover {
    background-color: #b1b1b1;
  }
  
  .fullContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 280px; /* Moves the container to the left by 20px */
    gap: 120px;
    min-height: 100vh;
  }
  
  .sideBar {
    width: 200px;
    max-width: 200px;
    height: 500px;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  
  .quizContainer {
    width: 600px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .inputContainer{
    display: flex;
    flex-direction: row;
  }
  
  
  .quizButton {
    padding: 6px 10px;
    font-size: 12px;
    color: #ffffff;
    background-color: #eb0000d5;
    border: none;     
    border-radius: 4px;
    cursor: pointer;
    margin: 2px; 
    transition: background-color 0.3s ease;
  }
  
  .quizButton:hover {
    background-color: #b60303;
  }
  
  .quizButton:active {
    background-color: #790000;
    transform: translateY(1px);
  }
  
  
  .quiz-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #dd0000;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
    font-size: 16px;
    font-weight: bold;
  }
  
  .quiz-link:hover, .quiz-link:focus {
    background-color: #b10101e1; /* Darker blue on hover/focus */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for 3D effect */
    transform: translateY(-2px); /* Slight raise effect on hover */
  }
  
  .quiz-link:active {
    background-color: #500000; /* Even darker blue when active */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3); /* Inner shadow for pressed effect */
    transform: translateY(1px); /* Reset position to give a pressed effect */
  }
  
  